{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Sign up</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Username</label>
                    {{ form.username.errors }}
                    {% render_field form.username class="form-control" placeholder="Username" %}
                    <span class="text-muted">{{ form.username.help_text }}</span>
                </div>
                <div class="form-group">
                    <label for="id_password1">Password</label>
                    {% render_field form.password1 class="form-control" placeholder="•••••••••" %}
                </div>
                <div class="form-group">
                    {{ form.password1.errors }}
                    {{ form.password2.errors }}
                    <label for="id_password2">Confirm Password</label>
                    {% render_field form.password2 class="form-control" placeholder="•••••••••" %}
                </div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}
