{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form action="{% url 'check_grammar_page' %}" method="post">
                {% csrf_token %}
                {% if history_item %}
                    <span class="text-muted" style="float: right;">🕒 {{ history_item.created_at | naturaltime }}</span>
                {% endif %}
                <div class="form-group">
                    {{ form.text_input.label_tag }}
                    {{ form.text_input }}
                </div>
                <input type="hidden" value="{{ history_item.id }}" name="id" />
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-secondary" style="float: right;" href="{% url 'grammar_check_history_page' %}">Show History</a>
                </div>
            </form>
        </div>
        {% if grammar_suggestions %}
            <div class="col-md-6">
                <h3>Suggestions</h3>
                <ul>
                    {% for suggestion in grammar_suggestions %}
                        <li>
                            <p>
                                {{ suggestion.msg }}<br/>
                                {{ suggestion.context | safe }}<br/>
                                {{ suggestion.replacements|length }}
                                suggested replacement{% if suggestion.replacements|length > 1 %}s:<br/>{% else %}
                                :{% endif %}
                                {% for replacement in suggestion.replacements %}
                                    {{ replacement }}<br/>
                                {% endfor %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
                {#                <table class="table">#}
                {#                    <thead>#}
                {#                    <tr>#}
                {#                        <th scope="col">Word</th>#}
                {#                        <th scope="col">Count</th>#}
                {#                    </tr>#}
                {#                    </thead>#}
                {#                    <tbody>#}
                {##}
                {#                    {% for word, count in sorted_word_counts %}#}
                {#                        <tr>#}
                {#                            <th scope="row">{{ word }}</th>#}
                {#                            <td>{{ count }}</td>#}
                {#                        </tr>#}
                {#                    {% endfor %}#}
                {#                    </tbody>#}
                {#                </table>#}
            </div>
        {% endif %}
    </div>
{% endblock %}